html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #111315;
  width: 100%;
  font-family: 'DM Sans', sans-serif;
}

.mainBg {
  width: 100%;
  background-color: inherit;
  padding-bottom: 100px;
}

h1, p {
  padding: 0;
  margin: 0;
}

.headerBg {
  background-image: url('/bg-cafe-lg.jpg');
  height: 330px;
  width: 100%;
  background-position: center;
}

.mainContent {
  background-color: #1B1D1F;
  width: 60%;
  padding: 40px 100px;
  margin: auto;
  margin-top: -190px;
  border-radius: 14px;
}

.description {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('/vector.svg');
  background-repeat: no-repeat;
  background-position: 70% 0;

  h1 {
    font-size: 32px;
    padding-top: 50px;
    color: #FEF7EE;
  }
  p {
    color: #6F757C;
    font-size: 16px;
    text-align: center;
    max-width: 500px;
    padding: 10px 0;
  }

  .sortingButtons{
    display: flex;
    justify-content: center;
    gap: 20px;
  }
}

.coffeesContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 40px 0;
  gap: 40px 30px;
}

.coffeeCard {
  width: 100%;
  background-color: inherit;
}

.mainInfo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;

  p {
    font-weight: bold;
  }
}

.rating {
  display: flex; 
  p {
    padding-left: 3px;
  }
}

.coffeeImg{
  width: 100%;
  height: 150px;
  border-radius: 14px;
  position: relative;
  margin-bottom: 10px;

  .popularTag {
    background-color: #F6C768;
    width: fit-content;
    padding: 3px 10px;
    border-radius: 50px;
    font-size: 10px;
    font-weight: bold;
    color: #1B1D1F;
    position: absolute;
    left: 10px;       
    top: 10px;     
    margin: 0;         
  }
}

.priceTag {
  color: #1B1D1F;
  font-size: 12px;
  padding: 3px 8px;
  background-color: #BEE3CC;
  border-radius: 5px;
}

.extraInfo {
  display: flex;
  justify-content: space-between;
  align-items: center; 

  p {
    font-size: 14px;
    font-weight: bold;
    color: #ED735D;
  }
}

.ratingInfo{
  display: flex;

  p {
    font-size: 14px;
  }
  .mainRating {
    font-weight: bold;
    color: #FEF7EE;
  }
  .ratingVotes {
    color: #6F757C;
    font-weight: bold;
  }
}

.sortingButtons .active {
  background-color: #4D5562;
  color: #FEF7EE;
}

.sortingButtons .inactive {
  background-color: inherit; 
  color: #FEF7EE;
}

@media (max-width: 1024px) {
  .mainContent {
    width: 80%;
    padding: 40px;
  }

  .headerBg {
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    height: 300px;
  }
}

@media (max-width: 640px) {
  .coffeesContainer {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }

  .coffeeCard {
    width: 80%;
  }

  .headerBg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
  }
}