html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #1B1D1F;
}

.mainBg {
  width: 100%;
  background-color: red;
  padding-bottom: 100px;
}

h1 {
  padding: 0;
  margin: 0;
}

.headerBg {
  background-image: url('./bg-cafe-lg.jpg');
  height: 450px;
  width: 100%;
}

.mainContent {
  background-color: blue;
  width: 60%;
  padding: 100px;
  margin: auto;
  margin-top: -250px;
}

.description {
  background-color: green;
  width: 100%;
  height: 100%;
}